In [7]:
#Import goodbooks dataset with additional fields (see separate google colab notebook with the scraping code here : https://colab.research.google.com/drive/1AVD1QMp1hnqKmVjsVRUQ3HRUo4lqNBKP?usp=sharing
import pandas as pd
from ast import literal_eval

books_df = pd.read_csv('https://raw.githubusercontent.com/malcolmosh/MATH80629/main/books_enrichedv2.csv', index_col=[0], converters={"genres": literal_eval})

# head
display(books_df.head())

,index,authors,average_rating,best_book_id,book_id,books_count,description,genres,goodreads_book_id,image_url,...,ratings_2,ratings_3,ratings_4,ratings_5,ratings_count,small_image_url,title,work_id,work_ratings_count,work_text_reviews_count
0,0,Suzanne Collins,4.34,2767052,1,272,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,"[young-adult, fiction, dystopia, fantasy, scie...",2767052,https://images.gr-assets.com/books/1447303603m...,...,127936,560092,1481305,2706317,4780653,https://images.gr-assets.com/books/1447303603s...,"The Hunger Games (The Hunger Games, #1)",2792775,4942365,155254
1,1,"J.K. Rowling, Mary GrandPré",4.44,3,2,491,Harry Potter's life is miserable. His parents ...,"[fantasy, fiction, young-adult, magic, childre...",3,https://images.gr-assets.com/books/1474154022m...,...,101676,455024,1156318,3011543,4602479,https://images.gr-assets.com/books/1474154022s...,Harry Potter and the Sorcerer's Stone (Harry P...,4640799,4800065,75867
2,2,Stephenie Meyer,3.57,41865,3,226,About three things I was absolutely positive.\...,"[young-adult, fantasy, romance, vampires, fict...",41865,https://images.gr-assets.com/books/1361039443m...,...,436802,793319,875073,1355439,3866839,https://images.gr-assets.com/books/1361039443s...,"Twilight (Twilight, #1)",3212258,3916824,95009
3,3,Harper Lee,4.25,2657,4,487,The unforgettable novel of a childhood in a sl...,"[classics, fiction, historical-fiction, school...",2657,https://images.gr-assets.com/books/1361975680m...,...,117415,446835,1001952,1714267,3198671,https://images.gr-assets.com/books/1361975680s...,To Kill a Mockingbird,3275794,3340896,72586
4,4,F. Scott Fitzgerald,3.89,4671,5,1356,Alternate Cover Edition ISBN: 0743273567 (ISBN...,"[classics, fiction, school, literature, histor...",4671,https://images.gr-assets.com/books/1490528560m...,...,197621,606158,936012,947718,2683664,https://images.gr-assets.com/books/1490528560s...,The Great Gatsby,245494,2773745,51992

In [4]:
# Check the data types of each column
dtypes = books_df.dtypes

# Print the data types
print(dtypes, "\n")

# Count the number of cells with inconsistent data
inconsistent_counts = {}
for col, dtype in dtypes.items():
    if dtype == 'object':  # Check for string columns
        inconsistent_counts[col] = books_df[col].str.contains('[^a-zA-Z0-9]').sum()
    elif dtype == 'int64':  # Check for integer columns
        inconsistent_counts[col] = books_df[col].apply(lambda x: not pd.api.types.is_integer(x)).sum()
    elif dtype == 'float64':  # Check for float columns
        inconsistent_counts[col] = books_df[col].apply(lambda x: not pd.api.types.is_float(x)).sum()

# Print the inconsistent counts
print(inconsistent_counts)

index                          int64
authors                       object
average_rating               float64
best_book_id                   int64
book_id                        int64
books_count                    int64
description                   object
genres                        object
goodreads_book_id              int64
image_url                     object
isbn                          object
isbn13                       float64
language_code                 object
original_publication_year    float64
original_title                object
pages                        float64
publishDate                   object
ratings_1                      int64
ratings_2                      int64
ratings_3                      int64
ratings_4                      int64
ratings_5                      int64
ratings_count                  int64
small_image_url               object
title                         object
work_id                        int64
work_ratings_count             int64
work_text_reviews_count        int64
dtype: object

{'index': np.int64(0), 'authors': np.int64(9982), 'average_rating': np.int64(0), 'best_book_id': np.int64(0), 'book_id': np.int64(0), 'books_count': np.int64(0), 'description': 9943, 'genres': np.float64(0.0), 'goodreads_book_id': np.int64(0), 'image_url': np.int64(10000), 'isbn': 0, 'isbn13': np.int64(0), 'language_code': 2385, 'original_publication_year': np.int64(0), 'original_title': 8343, 'pages': np.int64(0), 'publishDate': 9577, 'ratings_1': np.int64(0), 'ratings_2': np.int64(0), 'ratings_3': np.int64(0), 'ratings_4': np.int64(0), 'ratings_5': np.int64(0), 'ratings_count': np.int64(0), 'small_image_url': np.int64(10000), 'title': np.int64(9436), 'work_id': np.int64(0), 'work_ratings_count': np.int64(0), 'work_text_reviews_count': np.int64(0)}

In [8]:
import pandas as pd

# Read the CSV file
# books_df = pd.read_csv('archive/raw/1_book_details.csv')

# Check for null data
null_counts = books_df.isnull().sum()

# Print the null counts
print(null_counts)

index                           0
authors                         0
average_rating                  0
best_book_id                    0
book_id                         0
books_count                     0
description                    57
genres                          0
goodreads_book_id               0
image_url                       0
isbn                          700
isbn13                        585
language_code                1084
original_publication_year      21
original_title                585
pages                          73
publishDate                     8
ratings_1                       0
ratings_2                       0
ratings_3                       0
ratings_4                       0
ratings_5                       0
ratings_count                   0
small_image_url                 0
title                           0
work_id                         0
work_ratings_count              0
work_text_reviews_count         0
dtype: int64

In [10]:
# Select the desired columns
desired_cols = ['title', 'description', 'genres', 'average_rating', 'authors']

# Create a new DataFrame that includes only the desired columns
new_df = books_df[desired_cols]

# Save the new DataFrame to a new CSV file
new_df.to_csv('archive/cleaned/1_git_books.csv', index=False)

In [14]:
new_df = new_df.rename(columns={'title': 'title', 'description': 'description', 'genres': 'genre', 'average_rating': 'rating', 'authors': 'author'})
new_df = new_df[['title', 'author', 'description', 'genre', 'rating']]
# Save the new DataFrame to a new CSV file
new_df.to_csv('archive/cleaned/1_git_books.csv', index=False)
len(new_df.index)

10000

Remove rows where data is missing

In [16]:
new_df = new_df.dropna()
new_df.to_csv('archive/cleaned/1_git_books.csv', index=False)
len(new_df.index)

9943

Remove rows where data is missing in other dataset

In [24]:
book_details_df = pd.read_csv('archive/cleaned/1_book_details.csv')
len(book_details_df.index)

new_book_details_df = book_details_df.dropna()
new_book_details_df.to_csv('archive/cleaned/1_book_details_dropped.csv', index=False)
# new_df.head()
new_book_details_df.head()

,title,author,description,genre,rating
0,Divergent,Veronica Roth,"In Beatrice Prior's dystopian Chicago world, s...","Young Adult, Dystopia, Fantasy, Fiction, Scien...",4.15
1,Catching Fire,Suzanne Collins,Sparks are igniting.Flames are spreading.And t...,"Young Adult, Dystopia, Fiction, Fantasy, Scien...",4.31
2,The Fault in Our Stars,John Green,Despite the tumor-shrinking medical miracle th...,"Young Adult, Romance, Fiction, Contemporary, R...",4.15
3,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"Classics, Fiction, Historical Fiction, School,...",4.27
4,The Lightning Thief,Rick Riordan,Alternate cover for this ISBN can be found her...,"Fantasy, Young Adult, Mythology, Fiction, Midd...",4.30